/* Small screens */
@media only screen and (max-width: 600px) {
  /* topNav */
  .navbar.fixed-bottom a {
    font-size: 12px;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) {
  /* topNav */
  .navbar.fixed-bottom {
    top: 0;
    bottom: unset !important;
  }
  .navbar.fixed-bottom a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  /* topNav */
  .navbar {
    grid-template-columns: repeat(5, 1fr);
  }
  /* .mr-auto.navbar-nav {
    position: absolute;
    top: 100%;
    right: 0;
  }
  .show .mr-auto.navbar-nav {
    top: -180%;
  } */
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  /* topNav */
  .navbar {
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar .navbar-toggler {
    display: none;
  }
}