@tailwind base;
@tailwind components;
@tailwind utilities;

/* For components/categoriesWidget */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Styling for images within categoriesWidget, assuming GifPlayer renders an img tag */
/* If GifPlayer renders a different structure, these selectors might need adjustment */
.category-image-item:nth-child(3n) img {
  background-color: #90E0EF; /* mediumWell */
}

.category-image-item:nth-child(3n + 1) img {
  background-color: #3d77f5; /* rareMedium */
}
