@font-face {
  font-family: 'zadelis-font';
  src: url('/fonts/Philosopher-Regular.ttf');
 }
 
@font-face {
  font-family: 'zadelis-font-italic';
  src: url('/fonts/Philosopher-Italic.ttf');
}

 @font-face {
  font-family: 'zadelisR-font';
  src: url('/fonts/PTSans-Regular.ttf');
 }
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafbfb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}