@font-face {
  font-family: 'zadelis-font';
  src: url('/fonts/Philosopher-Regular.ttf');
 }

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafbfb;
  /* background: url('./img/bg.png') repeat; */
  font-family: 'zadelis-font';
}